.header img{
   height: 250px;
   width: 100%;
}
.nav{
    background-color: rgba(0, 0, 255, 0.733);
   
    line-height: 40px;
}
.nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: large;
    font-weight: 400;
    margin-left: 30px;
}
.nav a:hover{
    background-color: rgba(250, 235, 215, 0.363);
}